# Alphavantage

## Table of Contents

* [Getting Started - Load Libraries and Dataset](#0)
* [Symbol Search](#1)
* [Historical Price and Volume for 1 Stock](#2)
    * [Adding Time Periods](#2.1)
* [Frequency Setting](#3)
* [Dividends](#4)
* [Financial Indices](#5)
* [Foreign Exchange](#6)
    * [Using the ForeignExchange library](#6.1)
* [Cryptocurrencies](#7)
* [Mutual Funds](#8)
* [Treasury Rates](#9)
* [Stock Fundamentals](#10)
* [Financials](#11)
* [Stream Realtime Data](#12)
* [Economic Indicators](#13)
* [Technical Indicators](#14)

<a id='0'></a>
## Getting Started - Load Libraries and Dataset

link: https://github.com/RomelTorres/alpha_vantage

In [ ]:
https://medium.com/codex/alpha-vantage-an-introduction-to-a-highly-efficient-free-stock-api-6d17f4481bf

In [2]:
from alpha_vantage.timeseries import TimeSeries
import pandas as pd
import time
import requests
from io import BytesIO

In [2]:
# API Key
key = "AAUUBAYEDCI353AC"

<a id='1'></a>
## Symbol Search

In [18]:
symbol_to_search = 'TSL'
url = 'https://www.alphavantage.co/query?function=SYMBOL_SEARCH&keywords='+symbol_to_search+'&apikey={key}'
r = requests.get(url)
data = r.json()
data = pd.DataFrame(data['bestMatches'])

,1. symbol,2. name,3. type,4. region,5. marketOpen,6. marketClose,7. timezone,8. currency,9. matchScore
0,TSLA,Tesla Inc,Equity,United States,09:30,16:00,UTC-04,USD,0.8571
1,TSL.LON,ThinkSmart Limited,Equity,United Kingdom,08:00,16:30,UTC+00,GBX,0.7500
2,TSLAX,TRANSAMERICA SMALL CAP VALUE A,Mutual Fund,United States,09:30,16:00,UTC-04,USD,0.7500
3,TSLCX,Transamerica Small Cap Value Class C,Mutual Fund,United States,09:30,16:00,UTC-04,USD,0.7500
4,TSLFX,TRANSAMERICA SMALL CAP VALUE R4,Mutual Fund,United States,09:30,16:00,UTC-04,USD,0.7500
5,TSLIX,TRANSAMERICA SMALL CAP VALUE I,Mutual Fund,United States,09:30,16:00,UTC-04,USD,0.7500
6,TSLLF,Tassal Group,Equity,United States,09:30,16:00,UTC-04,USD,0.7500
7,TSLMF,ThinkSmart Ltd,Equity,United States,09:30,16:00,UTC-04,USD,0.7500
8,TSL.TRT,Tree Island Steel Ltd,Equity,Toronto,09:30,16:00,UTC-05,CAD,0.6667
9,TSLA34.SAO,Tesla Inc,Equity,Brazil/Sao Paolo,10:00,17:30,UTC-03,BRL,0.5000

<a id='2'></a>
## Historic Stock Price and Volume

In [37]:
data = {
    "function": "DIGITAL_CURRENCY_DAILY", # WEEKLY, MONTHLY possible
    "symbol": "ETH",
    "market": 'CNY',
    "apikey": key
    }
r = requests.get(url, params=data)
data = r.json()
crypto_df = pd.DataFrame(data['Time Series (Digital Currency Daily)']).T.reset_index()
crypto_df = crypto_df.rename(columns={"index": "Date"})
crypto_df['Date'] = pd.to_datetime(crypto_df['Date'])
crypto_df

               open       high        low    close      volume
date
2010-06-29    19.00    25.0000    17.5400    23.89  18766300.0
2010-06-30    25.79    30.4192    23.3000    23.83  17187100.0
2010-07-01    25.00    25.9200    20.2700    21.96   8218800.0
2010-07-02    23.00    23.1000    18.7100    19.20   5139800.0
2010-07-06    20.00    20.0000    15.8300    16.11   6866900.0
...             ...        ...        ...      ...         ...
2022-01-04  1189.55  1208.0000  1123.0500  1149.59  33416086.0
2022-01-05  1146.65  1170.3400  1081.0101  1088.12  26706599.0
2022-01-06  1077.00  1088.0000  1020.5000  1064.70  30112158.0
2022-01-07  1080.37  1080.9299  1010.0000  1026.96  28054916.0
2022-01-10  1000.00  1059.1000   980.0000  1058.12  30604959.0

[2905 rows x 5 columns]

<a id='2.1'></a>
## Adding Time Periods

In [35]:
data = {
    "function": "TIME_SERIES_DAILY", # WEEKLY, MONTHLY possible
    "symbol": "TSLA",
     "apikey": key
    }
r = requests.get(url, params=data)
data = r.json()
data = pd.DataFrame(data['Time Series (Daily)']).T
data

              1. open    2. high     3. low   4. close 5. volume
2022-01-10  1000.0000  1059.1000   980.0000  1058.1200  30604959
2022-01-07  1080.3700  1080.9299  1010.0000  1026.9600  28054916
2022-01-06  1077.0000  1088.0000  1020.5000  1064.7000  30112158
2022-01-05  1146.6500  1170.3400  1081.0101  1088.1200  26706599
2022-01-04  1189.5500  1208.0000  1123.0500  1149.5900  33416086
...               ...        ...        ...        ...       ...
2021-08-25   707.0300   716.9700   704.0000   711.2000  12645562
2021-08-24   710.6800   715.2200   702.6400   708.4900  13083071
2021-08-23   685.4420   712.1299   680.7505   706.3000  20264859
2021-08-20   682.8500   692.1299   673.7000   680.2600  14841865
2021-08-19   678.2100   686.5500   667.5900   673.4700  14313486

[100 rows x 5 columns]

<a id='3'></a>
## Frequency Setting

In [8]:
def get_intraday_data(symbol, interval):
    api_key = key
    api_url = f'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={symbol}&interval={interval}&apikey={api_key}'
    raw_df = requests.get(api_url).json()
    df = pd.DataFrame(raw_df[f'Time Series ({interval})']).T
    df = df.rename(columns = {'1. open': 'open', '2. high': 'high', '3. low': 'low', '4. close': 'close', '5. volume': 'volume'})
    for i in df.columns:
        df[i] = df[i].astype(float)
    df.index = pd.to_datetime(df.index)
    df = df.iloc[::-1]
    return df

tsla_intra = get_intraday_data('TSLA', '1min')
tsla_intra.tail()

                        open     high      low   close  volume
2021-12-23 19:56:00  1068.45  1068.90  1068.45  1068.5  2502.0
2021-12-23 19:57:00  1068.70  1068.70  1068.70  1068.7   855.0
2021-12-23 19:58:00  1069.00  1069.50  1069.00  1069.5  3332.0
2021-12-23 19:59:00  1069.20  1069.72  1069.05  1069.5  2642.0
2021-12-23 20:00:00  1069.00  1069.30  1069.00  1069.3  4489.0

<a id='4'></a>
## Dividends

In [4]:
ticker = "IBM"
url = 'https://www.alphavantage.co/query?function=OVERVIEW&symbol='+ticker+'&apikey={key}'
r = requests.get(url)
data = r.json()
dividends = pd.DataFrame(data, index = ['Values'])
dividends = dividends[['DividendPerShare', 'DividendYield', 'DividendDate', 'ExDividendDate']].T
dividends

                      Values
DividendPerShare        6.54
DividendYield         0.0489
DividendDate      2021-12-10
ExDividendDate    2021-11-09

<a id='5'></a>
## Financial Indices

In [6]:
index = "DJI" # FCHI, IXIC, ...
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol='+index+'&outputsize=full&apikey={key}'
r = requests.get(url)
data = r.json()
data

{}

<a id='6'></a>
## Foreign Exchange

In [13]:
# Currency list: https://www.alphavantage.co/physical_currency_list/
currency_a = 'EUR'
currency_b = 'USD'
interval = '5min' # 1min, 5min, 15min, 30min, 60min
url = 'https://www.alphavantage.co/query?function=FX_INTRADAY&from_symbol=EUR&to_symbol=USD&interval=5min&apikey=demo'
r = requests.get(url)
data = r.json()
data = pd.DataFrame(data['Time Series FX (5min)']).T
data

                     1. open  2. high   3. low 4. close
2022-01-18 17:20:00  1.13260  1.13309  1.13260  1.13289
2022-01-18 17:15:00  1.13276  1.13299  1.13250  1.13282
2022-01-18 17:10:00  1.13336  1.13337  1.13250  1.13270
2022-01-18 17:05:00  1.13345  1.13355  1.13290  1.13338
2022-01-18 17:00:00  1.13365  1.13365  1.13320  1.13330
...                      ...      ...      ...      ...
2022-01-18 09:25:00  1.13937  1.13977  1.13910  1.13954
2022-01-18 09:20:00  1.13963  1.13964  1.13900  1.13930
2022-01-18 09:15:00  1.13992  1.14013  1.13940  1.13960
2022-01-18 09:10:00  1.13957  1.13994  1.13930  1.13980
2022-01-18 09:05:00  1.13949  1.13989  1.13900  1.13955

[100 rows x 4 columns]

<a id='6.1'></a>
### Using the ForeignExchange library

In [26]:
from alpha_vantage.foreignexchange import ForeignExchange
from pprint import pprint
cc = ForeignExchange(key='YOUR_API_KEY')
# There is no metadata in this call
data, _ = cc.get_currency_exchange_rate(from_currency='BTC',to_currency='USD')
pprint(data)

{'1. From_Currency Code': 'BTC',
 '2. From_Currency Name': 'Bitcoin',
 '3. To_Currency Code': 'USD',
 '4. To_Currency Name': 'United States Dollar',
 '5. Exchange Rate': '41587.43000000',
 '6. Last Refreshed': '2022-01-18 17:46:01',
 '7. Time Zone': 'UTC',
 '8. Bid Price': '41587.42000000',
 '9. Ask Price': '41587.43000000'}

In [17]:
data = {
    "function": "CURRENCY_EXCHANGE_RATE", # WEEKLY, MONTHLY possible
    "from_currency": "ETH",
    "to_currency": 'USD',
    "apikey": key
    }
r = requests.get(url, params=data)
data = r.json()
crypto_df = pd.DataFrame(data['Realtime Currency Exchange Rate'], index=['Values']).T
crypto_df

                                     Values
1. From_Currency Code                   ETH
2. From_Currency Name              Ethereum
3. To_Currency Code                     USD
4. To_Currency Name    United States Dollar
5. Exchange Rate              3125.40000000
6. Last Refreshed       2022-01-18 17:20:01
7. Time Zone                            UTC
8. Bid Price                  3125.39000000
9. Ask Price                  3125.40000000

<a id='7'></a>
## Cryptocurrencies

In [19]:
ticker = 'ETH'
url = 'https://www.alphavantage.co/query?function=CRYPTO_INTRADAY&symbol='+ticker+'&market=USD&interval=5min&apikey={key}'
r = requests.get(url)
data = r.json()
data = pd.DataFrame(data['Time Series Crypto (5min)']).T
data

                        1. open     2. high      3. low    4. close 5. volume
2022-01-18 17:20:00  3125.32000  3128.78000  3124.42000  3128.65000       370
2022-01-18 17:15:00  3120.44000  3128.78000  3114.15000  3125.32000      1180
2022-01-18 17:10:00  3117.55000  3122.21000  3112.86000  3120.22000      1082
2022-01-18 17:05:00  3119.22000  3121.21000  3112.63000  3117.55000      1356
2022-01-18 17:00:00  3131.61000  3134.08000  3119.21000  3119.22000       956
...                         ...         ...         ...         ...       ...
2022-01-18 09:25:00  3141.92000  3164.57000  3141.12000  3161.57000      2691
2022-01-18 09:20:00  3134.34000  3142.45000  3128.39000  3141.92000      3125
2022-01-18 09:15:00  3146.56000  3149.67000  3130.77000  3134.34000      3355
2022-01-18 09:10:00  3151.83000  3156.22000  3143.87000  3146.56000      1851
2022-01-18 09:05:00  3158.06000  3159.16000  3151.00000  3151.83000       736

[100 rows x 5 columns]

In [21]:
data = {
    "function": "DIGITAL_CURRENCY_DAILY", # WEEKLY, MONTHLY possible
    "symbol": "ETH",
    "market": 'CNY',
    "apikey": key
    }
r = requests.get(url, params=data)
data = r.json()
crypto_df = pd.DataFrame(data['Time Series (Digital Currency Daily)']).T.reset_index()
crypto_df = crypto_df.rename(columns={"index": "Date"})
crypto_df['Date'] = pd.to_datetime(crypto_df['Date'])
crypto_df

,Date,1a. open (USD),1b. open (USD),2a. high (USD),2b. high (USD),3a. low (USD),3b. low (USD),4a. close (USD),4b. close (USD),5. volume,6. market cap (USD)
0,2022-01-18,3209.68000000,3209.68000000,3235.54000000,3235.54000000,3204.76000000,3204.76000000,3224.77000000,3224.77000000,9020.69910000,9020.69910000
1,2022-01-17,3346.89000000,3346.89000000,3357.57000000,3357.57000000,3141.10000000,3141.10000000,3209.67000000,3209.67000000,284063.65480000,284063.65480000
2,2022-01-16,3326.51000000,3326.51000000,3393.60000000,3393.60000000,3269.62000000,3269.62000000,3346.88000000,3346.88000000,210782.22770000,210782.22770000
3,2022-01-15,3307.42000000,3307.42000000,3371.64000000,3371.64000000,3261.00000000,3261.00000000,3326.04000000,3326.04000000,203100.37780000,203100.37780000
4,2022-01-14,3240.61000000,3240.61000000,3342.79000000,3342.79000000,3188.00000000,3188.00000000,3307.42000000,3307.42000000,285326.35050000,285326.35050000
...,...,...,...,...,...,...,...,...,...,...,...
995,2019-04-29,157.86000000,157.86000000,159.05000000,159.05000000,152.00000000,152.00000000,155.11000000,155.11000000,243591.94898000,243591.94898000
996,2019-04-28,159.32000000,159.32000000,160.24000000,160.24000000,156.92000000,156.92000000,157.85000000,157.85000000,152976.30181000,152976.30181000
997,2019-04-27,157.93000000,157.93000000,166.24000000,166.24000000,156.35000000,156.35000000,159.31000000,159.31000000,215918.63842000,215918.63842000
998,2019-04-26,154.70000000,154.70000000,162.56000000,162.56000000,151.40000000,151.40000000,157.95000000,157.95000000,500355.86283000,500355.86283000
999,2019-04-25,164.78000000,164.78000000,165.49000000,165.49000000,150.35000000,150.35000000,154.72000000,154.72000000,422657.03239000,422657.03239000

In [ ]:
data = {
    "function": "CURRENCY_EXCHANGE_RATE", # WEEKLY, MONTHLY possible
    "from_currency": "ETH",
    "to_currency": 'USD',
    "apikey": key
    }
r = requests.get(url, params=data)
data = r.json()
crypto_df = pd.DataFrame(data['Realtime Currency Exchange Rate'], index=[0]).T
crypto_df

<a id='8'></a>
## Mutual Funds

In [31]:
ticker = 'OMOIX'
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol='+ticker+'&apikey={key}'
r = requests.get(url)
data = r.json()
data

{'Meta Data': {'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
  '2. Symbol': 'OMOIX',
  '3. Last Refreshed': '2022-01-03',
  '4. Output Size': 'Compact',
  '5. Time Zone': 'US/Eastern'},
 'Time Series (Daily)': {'2022-01-03': {'1. open': '26.2200',
   '2. high': '26.2200',
   '3. low': '26.2200',
   '4. close': '26.2200',
   '5. volume': '0'},
  '2021-12-31': {'1. open': '26.1900',
   '2. high': '26.1900',
   '3. low': '26.1900',
   '4. close': '26.1900',
   '5. volume': '0'},
  '2021-12-30': {'1. open': '26.1600',
   '2. high': '26.1600',
   '3. low': '26.1600',
   '4. close': '26.1600',
   '5. volume': '0'},
  '2021-12-29': {'1. open': '26.1400',
   '2. high': '26.1400',
   '3. low': '26.1400',
   '4. close': '26.1400',
   '5. volume': '0'},
  '2021-12-28': {'1. open': '26.4600',
   '2. high': '26.4600',
   '3. low': '26.4600',
   '4. close': '26.4600',
   '5. volume': '0'},
  '2021-12-27': {'1. open': '26.4700',
   '2. high': '26.4700',
   '3. low': '26.4700',
   '4. close': '26.4700',
   '5. volume': '0'},
  '2021-12-23': {'1. open': '26.4800',
   '2. high': '26.4800',
   '3. low': '26.4800',
   '4. close': '26.4800',
   '5. volume': '0'},
  '2021-12-22': {'1. open': '26.4400',
   '2. high': '26.4400',
   '3. low': '26.4400',
   '4. close': '26.4400',
   '5. volume': '0'},
  '2021-12-21': {'1. open': '26.4000',
   '2. high': '26.4000',
   '3. low': '26.4000',
   '4. close': '26.4000',
   '5. volume': '0'},
  '2021-12-20': {'1. open': '26.3500',
   '2. high': '26.3500',
   '3. low': '26.3500',
   '4. close': '26.3500',
   '5. volume': '0'},
  '2021-12-17': {'1. open': '26.3900',
   '2. high': '26.3900',
   '3. low': '26.3900',
   '4. close': '26.3900',
   '5. volume': '0'},
  '2021-12-16': {'1. open': '26.3800',
   '2. high': '26.3800',
   '3. low': '26.3800',
   '4. close': '26.3800',
   '5. volume': '0'},
  '2021-12-15': {'1. open': '26.3900',
   '2. high': '26.3900',
   '3. low': '26.3900',
   '4. close': '26.3900',
   '5. volume': '0'},
  '2021-12-14': {'1. open': '26.3600',
   '2. high': '26.3600',
   '3. low': '26.3600',
   '4. close': '26.3600',
   '5. volume': '0'},
  '2021-12-13': {'1. open': '26.3800',
   '2. high': '26.3800',
   '3. low': '26.3800',
   '4. close': '26.3800',
   '5. volume': '0'},
  '2021-12-10': {'1. open': '26.4100',
   '2. high': '26.4100',
   '3. low': '26.4100',
   '4. close': '26.4100',
   '5. volume': '0'},
  '2021-12-09': {'1. open': '26.4200',
   '2. high': '26.4200',
   '3. low': '26.4200',
   '4. close': '26.4200',
   '5. volume': '0'},
  '2021-12-08': {'1. open': '26.4300',
   '2. high': '26.4300',
   '3. low': '26.4300',
   '4. close': '26.4300',
   '5. volume': '0'},
  '2021-12-07': {'1. open': '26.4200',
   '2. high': '26.4200',
   '3. low': '26.4200',
   '4. close': '26.4200',
   '5. volume': '0'},
  '2021-12-06': {'1. open': '26.3600',
   '2. high': '26.3600',
   '3. low': '26.3600',
   '4. close': '26.3600',
   '5. volume': '0'},
  '2021-12-03': {'1. open': '26.3800',
   '2. high': '26.3800',
   '3. low': '26.3800',
   '4. close': '26.3800',
   '5. volume': '0'},
  '2021-12-02': {'1. open': '26.4100',
   '2. high': '26.4100',
   '3. low': '26.4100',
   '4. close': '26.4100',
   '5. volume': '0'},
  '2021-12-01': {'1. open': '26.4300',
   '2. high': '26.4300',
   '3. low': '26.4300',
   '4. close': '26.4300',
   '5. volume': '0'},
  '2021-11-30': {'1. open': '26.4500',
   '2. high': '26.4500',
   '3. low': '26.4500',
   '4. close': '26.4500',
   '5. volume': '0'},
  '2021-11-29': {'1. open': '26.5100',
   '2. high': '26.5100',
   '3. low': '26.5100',
   '4. close': '26.5100',
   '5. volume': '0'},
  '2021-11-26': {'1. open': '26.4900',
   '2. high': '26.4900',
   '3. low': '26.4900',
   '4. close': '26.4900',
   '5. volume': '0'},
  '2021-11-24': {'1. open': '26.5400',
   '2. high': '26.5400',
   '3. low': '26.5400',
   '4. close': '26.5400',
   '5. volume': '0'},
  '2021-11-23': {'1. open': '26.5200',
   '2. high': '26.5200',
   '3. low': '26.5200',
   '4. close': '26.5200',
   '5. volume': '0'},
  '2021-11-22': {'1. open': '26.5600',
   '2. high': '26.5600',
   '3. low': '26.5600',
   '4. close': '26.5600',
   '5. volume': '0'},
  '2021-11-19': {'1. open': '26.5900',
   '2. high': '26.5900',
   '3. low': '26.5900',
   '4. close': '26.5900',
   '5. volume': '0'},
  '2021-11-18': {'1. open': '26.6200',
   '2. high': '26.6200',
   '3. low': '26.6200',
   '4. close': '26.6200',
   '5. volume': '0'},
  '2021-11-17': {'1. open': '26.6300',
   '2. high': '26.6300',
   '3. low': '26.6300',
   '4. close': '26.6300',
   '5. volume': '0'},
  '2021-11-16': {'1. open': '26.6500',
   '2. high': '26.6500',
   '3. low': '26.6500',
   '4. close': '26.6500',
   '5. volume': '0'},
  '2021-11-15': {'1. open': '26.6500',
   '2. high': '26.6500',
   '3. low': '26.6500',
   '4. close': '26.6500',
   '5. volume': '0'},
  '2021-11-12': {'1. open': '26.6500',
   '2. high': '26.6500',
   '3. low': '26.6500',
   '4. close': '26.6500',
   '5. volume': '0'},
  '2021-11-11': {'1. open': '26.6300',
   '2. high': '26.6300',
   '3. low': '26.6300',
   '4. close': '26.6300',
   '5. volume': '0'},
  '2021-11-10': {'1. open': '26.6200',
   '2. high': '26.6200',
   '3. low': '26.6200',
   '4. close': '26.6200',
   '5. volume': '0'},
  '2021-11-09': {'1. open': '26.6500',
   '2. high': '26.6500',
   '3. low': '26.6500',
   '4. close': '26.6500',
   '5. volume': '0'},
  '2021-11-08': {'1. open': '26.6600',
   '2. high': '26.6600',
   '3. low': '26.6600',
   '4. close': '26.6600',
   '5. volume': '0'},
  '2021-11-05': {'1. open': '26.6500',
   '2. high': '26.6500',
   '3. low': '26.6500',
   '4. close': '26.6500',
   '5. volume': '0'},
  '2021-11-04': {'1. open': '26.6200',
   '2. high': '26.6200',
   '3. low': '26.6200',
   '4. close': '26.6200',
   '5. volume': '0'},
  '2021-11-03': {'1. open': '26.6100',
   '2. high': '26.6100',
   '3. low': '26.6100',
   '4. close': '26.6100',
   '5. volume': '0'},
  '2021-11-02': {'1. open': '26.6200',
   '2. high': '26.6200',
   '3. low': '26.6200',
   '4. close': '26.6200',
   '5. volume': '0'},
  '2021-11-01': {'1. open': '26.6300',
   '2. high': '26.6300',
   '3. low': '26.6300',
   '4. close': '26.6300',
   '5. volume': '0'},
  '2021-10-29': {'1. open': '26.6000',
   '2. high': '26.6000',
   '3. low': '26.6000',
   '4. close': '26.6000',
   '5. volume': '0'},
  '2021-10-28': {'1. open': '26.6100',
   '2. high': '26.6100',
   '3. low': '26.6100',
   '4. close': '26.6100',
   '5. volume': '0'},
  '2021-10-27': {'1. open': '26.6000',
   '2. high': '26.6000',
   '3. low': '26.6000',
   '4. close': '26.6000',
   '5. volume': '0'},
  '2021-10-26': {'1. open': '26.6200',
   '2. high': '26.6200',
   '3. low': '26.6200',
   '4. close': '26.6200',
   '5. volume': '0'},
  '2021-10-25': {'1. open': '26.6100',
   '2. high': '26.6100',
   '3. low': '26.6100',
   '4. close': '26.6100',
   '5. volume': '0'},
  '2021-10-22': {'1. open': '26.5700',
   '2. high': '26.5700',
   '3. low': '26.5700',
   '4. close': '26.5700',
   '5. volume': '0'},
  '2021-10-21': {'1. open': '26.5500',
   '2. high': '26.5500',
   '3. low': '26.5500',
   '4. close': '26.5500',
   '5. volume': '0'},
  '2021-10-20': {'1. open': '26.5700',
   '2. high': '26.5700',
   '3. low': '26.5700',
   '4. close': '26.5700',
   '5. volume': '0'},
  '2021-10-19': {'1. open': '26.5600',
   '2. high': '26.5600',
   '3. low': '26.5600',
   '4. close': '26.5600',
   '5. volume': '0'},
  '2021-10-18': {'1. open': '26.5500',
   '2. high': '26.5500',
   '3. low': '26.5500',
   '4. close': '26.5500',
   '5. volume': '0'},
  '2021-10-15': {'1. open': '26.5600',
   '2. high': '26.5600',
   '3. low': '26.5600',
   '4. close': '26.5600',
   '5. volume': '0'},
  '2021-10-14': {'1. open': '26.5400',
   '2. high': '26.5400',
   '3. low': '26.5400',
   '4. close': '26.5400',
   '5. volume': '0'},
  '2021-10-13': {'1. open': '26.5100',
   '2. high': '26.5100',
   '3. low': '26.5100',
   '4. close': '26.5100',
   '5. volume': '0'},
  '2021-10-12': {'1. open': '26.4900',
   '2. high': '26.4900',
   '3. low': '26.4900',
   '4. close': '26.4900',
   '5. volume': '0'},
  '2021-10-11': {'1. open': '26.4700',
   '2. high': '26.4700',
   '3. low': '26.4700',
   '4. close': '26.4700',
   '5. volume': '0'},
  '2021-10-08': {'1. open': '26.4500',
   '2. high': '26.4500',
   '3. low': '26.4500',
   '4. close': '26.4500',
   '5. volume': '0'},
  '2021-10-07': {'1. open': '26.4400',
   '2. high': '26.4400',
   '3. low': '26.4400',
   '4. close': '26.4400',
   '5. volume': '0'},
  '2021-10-06': {'1. open': '26.4000',
   '2. high': '26.4000',
   '3. low': '26.4000',
   '4. close': '26.4000',
   '5. volume': '0'},
  '2021-10-05': {'1. open': '26.4100',
   '2. high': '26.4100',
   '3. low': '26.4100',
   '4. close': '26.4100',
   '5. volume': '0'},
  '2021-10-04': {'1. open': '26.3900',
   '2. high': '26.3900',
   '3. low': '26.3900',
   '4. close': '26.3900',
   '5. volume': '0'},
  '2021-10-01': {'1. open': '26.4000',
   '2. high': '26.4000',
   '3. low': '26.4000',
   '4. close': '26.4000',
   '5. volume': '0'},
  '2021-09-30': {'1. open': '26.3600',
   '2. high': '26.3600',
   '3. low': '26.3600',
   '4. close': '26.3600',
   '5. volume': '0'},
  '2021-09-29': {'1. open': '26.3700',
   '2. high': '26.3700',
   '3. low': '26.3700',
   '4. close': '26.3700',
   '5. volume': '0'},
  '2021-09-28': {'1. open': '26.3500',
   '2. high': '26.3500',
   '3. low': '26.3500',
   '4. close': '26.3500',
   '5. volume': '0'},
  '2021-09-27': {'1. open': '26.3800',
   '2. high': '26.3800',
   '3. low': '26.3800',
   '4. close': '26.3800',
   '5. volume': '0'},
  '2021-09-24': {'1. open': '26.3700',
   '2. high': '26.3700',
   '3. low': '26.3700',
   '4. close': '26.3700',
   '5. volume': '0'},
  '2021-09-23': {'1. open': '26.7200',
   '2. high': '26.7200',
   '3. low': '26.7200',
   '4. close': '26.7200',
   '5. volume': '0'},
  '2021-09-22': {'1. open': '26.7200',
   '2. high': '26.7200',
   '3. low': '26.7200',
   '4. close': '26.7200',
   '5. volume': '0'},
  '2021-09-21': {'1. open': '26.6800',
   '2. high': '26.6800',
   '3. low': '26.6800',
   '4. close': '26.6800',
   '5. volume': '0'},
  '2021-09-20': {'1. open': '26.6300',
   '2. high': '26.6300',
   '3. low': '26.6300',
   '4. close': '26.6300',
   '5. volume': '0'},
  '2021-09-17': {'1. open': '26.6900',
   '2. high': '26.6900',
   '3. low': '26.6900',
   '4. close': '26.6900',
   '5. volume': '0'},
  '2021-09-16': {'1. open': '26.7000',
   '2. high': '26.7000',
   '3. low': '26.7000',
   '4. close': '26.7000',
   '5. volume': '0'},
  '2021-09-15': {'1. open': '26.7100',
   '2. high': '26.7100',
   '3. low': '26.7100',
   '4. close': '26.7100',
   '5. volume': '0'},
  '2021-09-14': {'1. open': '26.6900',
   '2. high': '26.6900',
   '3. low': '26.6900',
   '4. close': '26.6900',
   '5. volume': '0'},
  '2021-09-13': {'1. open': '26.6700',
   '2. high': '26.6700',
   '3. low': '26.6700',
   '4. close': '26.6700',
   '5. volume': '0'},
  '2021-09-10': {'1. open': '26.6500',
   '2. high': '26.6500',
   '3. low': '26.6500',
   '4. close': '26.6500',
   '5. volume': '0'},
  '2021-09-09': {'1. open': '26.6500',
   '2. high': '26.6500',
   '3. low': '26.6500',
   '4. close': '26.6500',
   '5. volume': '0'},
  '2021-09-08': {'1. open': '26.6500',
   '2. high': '26.6500',
   '3. low': '26.6500',
   '4. close': '26.6500',
   '5. volume': '0'},
  '2021-09-07': {'1. open': '26.6400',
   '2. high': '26.6400',
   '3. low': '26.6400',
   '4. close': '26.6400',
   '5. volume': '0'},
  '2021-09-03': {'1. open': '26.6600',
   '2. high': '26.6600',
   '3. low': '26.6600',
   '4. close': '26.6600',
   '5. volume': '0'},
  '2021-09-02': {'1. open': '26.6600',
   '2. high': '26.6600',
   '3. low': '26.6600',
   '4. close': '26.6600',
   '5. volume': '0'},
  '2021-09-01': {'1. open': '26.6300',
   '2. high': '26.6300',
   '3. low': '26.6300',
   '4. close': '26.6300',
   '5. volume': '0'},
  '2021-08-31': {'1. open': '26.6000',
   '2. high': '26.6000',
   '3. low': '26.6000',
   '4. close': '26.6000',
   '5. volume': '0'},
  '2021-08-30': {'1. open': '26.5900',
   '2. high': '26.5900',
   '3. low': '26.5900',
   '4. close': '26.5900',
   '5. volume': '0'},
  '2021-08-27': {'1. open': '26.5900',
   '2. high': '26.5900',
   '3. low': '26.5900',
   '4. close': '26.5900',
   '5. volume': '0'},
  '2021-08-26': {'1. open': '26.5800',
   '2. high': '26.5800',
   '3. low': '26.5800',
   '4. close': '26.5800',
   '5. volume': '0'},
  '2021-08-25': {'1. open': '26.5900',
   '2. high': '26.5900',
   '3. low': '26.5900',
   '4. close': '26.5900',
   '5. volume': '0'},
  '2021-08-24': {'1. open': '26.5700',
   '2. high': '26.5700',
   '3. low': '26.5700',
   '4. close': '26.5700',
   '5. volume': '0'},
  '2021-08-23': {'1. open': '26.5600',
   '2. high': '26.5600',
   '3. low': '26.5600',
   '4. close': '26.5600',
   '5. volume': '0'},
  '2021-08-20': {'1. open': '26.5400',
   '2. high': '26.5400',
   '3. low': '26.5400',
   '4. close': '26.5400',
   '5. volume': '0'},
  '2021-08-19': {'1. open': '26.5500',
   '2. high': '26.5500',
   '3. low': '26.5500',
   '4. close': '26.5500',
   '5. volume': '0'},
  '2021-08-18': {'1. open': '26.5500',
   '2. high': '26.5500',
   '3. low': '26.5500',
   '4. close': '26.5500',
   '5. volume': '0'},
  '2021-08-17': {'1. open': '26.5600',
   '2. high': '26.5600',
   '3. low': '26.5600',
   '4. close': '26.5600',
   '5. volume': '0'},
  '2021-08-16': {'1. open': '26.5900',
   '2. high': '26.5900',
   '3. low': '26.5900',
   '4. close': '26.5900',
   '5. volume': '0'},
  '2021-08-13': {'1. open': '26.6000',
   '2. high': '26.6000',
   '3. low': '26.6000',
   '4. close': '26.6000',
   '5. volume': '0'},
  '2021-08-12': {'1. open': '26.5800',
   '2. high': '26.5800',
   '3. low': '26.5800',
   '4. close': '26.5800',
   '5. volume': '0'}}}

<a id='9'></a>
## Treasury Yield

In [22]:
treasury_yield = {
    "function": "TREASURY_YIELD",
    "interval": "weekly", # daily, monthly
    "maturity": "3month", # OPTIONAL 5year, 10year, 30year
    "apikey": key
}
r = requests.get(url, params=treasury_yield)
data = r.json()

{'name': '3-Month Treasury Constant Maturity Rate',
 'interval': 'weekly',
 'unit': 'percent',
 'data': [{'date': '2022-01-07', 'value': '0.09'},
  {'date': '2021-12-31', 'value': '0.06'},
  {'date': '2021-12-24', 'value': '0.07'},
  {'date': '2021-12-17', 'value': '0.05'},
  {'date': '2021-12-10', 'value': '0.06'},
  {'date': '2021-12-03', 'value': '0.06'},
  {'date': '2021-11-26', 'value': '0.06'},
  {'date': '2021-11-19', 'value': '0.05'},
  {'date': '2021-11-12', 'value': '0.05'},
  {'date': '2021-11-05', 'value': '0.05'},
  {'date': '2021-10-29', 'value': '0.06'},
  {'date': '2021-10-22', 'value': '0.06'},
  {'date': '2021-10-15', 'value': '0.05'},
  {'date': '2021-10-08', 'value': '0.04'},
  {'date': '2021-10-01', 'value': '0.04'},
  {'date': '2021-09-24', 'value': '0.03'},
  {'date': '2021-09-17', 'value': '0.04'},
  {'date': '2021-09-10', 'value': '0.05'},
  {'date': '2021-09-03', 'value': '0.05'},
  {'date': '2021-08-27', 'value': '0.05'},
  {'date': '2021-08-20', 'value': '0.06'},
  {'date': '2021-08-13', 'value': '0.06'},
  {'date': '2021-08-06', 'value': '0.05'},
  {'date': '2021-07-30', 'value': '0.05'},
  {'date': '2021-07-23', 'value': '0.05'},
  {'date': '2021-07-16', 'value': '0.05'},
  {'date': '2021-07-09', 'value': '0.06'},
  {'date': '2021-07-02', 'value': '0.05'},
  {'date': '2021-06-25', 'value': '0.05'},
  {'date': '2021-06-18', 'value': '0.04'},
  {'date': '2021-06-11', 'value': '0.03'},
  {'date': '2021-06-04', 'value': '0.02'},
  {'date': '2021-05-28', 'value': '0.02'},
  {'date': '2021-05-21', 'value': '0.01'},
  {'date': '2021-05-14', 'value': '0.02'},
  {'date': '2021-05-07', 'value': '0.02'},
  {'date': '2021-04-30', 'value': '0.01'},
  {'date': '2021-04-23', 'value': '0.03'},
  {'date': '2021-04-16', 'value': '0.02'},
  {'date': '2021-04-09', 'value': '0.02'},
  {'date': '2021-04-02', 'value': '0.02'},
  {'date': '2021-03-26', 'value': '0.02'},
  {'date': '2021-03-19', 'value': '0.02'},
  {'date': '2021-03-12', 'value': '0.04'},
  {'date': '2021-03-05', 'value': '0.04'},
  {'date': '2021-02-26', 'value': '0.04'},
  {'date': '2021-02-19', 'value': '0.04'},
  {'date': '2021-02-12', 'value': '0.05'},
  {'date': '2021-02-05', 'value': '0.05'},
  {'date': '2021-01-29', 'value': '0.07'},
  {'date': '2021-01-22', 'value': '0.09'},
  {'date': '2021-01-15', 'value': '0.09'},
  {'date': '2021-01-08', 'value': '0.09'},
  {'date': '2021-01-01', 'value': '0.10'},
  {'date': '2020-12-25', 'value': '0.09'},
  {'date': '2020-12-18', 'value': '0.08'},
  {'date': '2020-12-11', 'value': '0.08'},
  {'date': '2020-12-04', 'value': '0.09'},
  {'date': '2020-11-27', 'value': '0.09'},
  {'date': '2020-11-20', 'value': '0.08'},
  {'date': '2020-11-13', 'value': '0.10'},
  {'date': '2020-11-06', 'value': '0.10'},
  {'date': '2020-10-30', 'value': '0.10'},
  {'date': '2020-10-23', 'value': '0.10'},
  {'date': '2020-10-16', 'value': '0.11'},
  {'date': '2020-10-09', 'value': '0.10'},
  {'date': '2020-10-02', 'value': '0.10'},
  {'date': '2020-09-25', 'value': '0.10'},
  {'date': '2020-09-18', 'value': '0.11'},
  {'date': '2020-09-11', 'value': '0.12'},
  {'date': '2020-09-04', 'value': '0.11'},
  {'date': '2020-08-28', 'value': '0.11'},
  {'date': '2020-08-21', 'value': '0.10'},
  {'date': '2020-08-14', 'value': '0.11'},
  {'date': '2020-08-07', 'value': '0.10'},
  {'date': '2020-07-31', 'value': '0.10'},
  {'date': '2020-07-24', 'value': '0.12'},
  {'date': '2020-07-17', 'value': '0.13'},
  {'date': '2020-07-10', 'value': '0.14'},
  {'date': '2020-07-03', 'value': '0.15'},
  {'date': '2020-06-26', 'value': '0.15'},
  {'date': '2020-06-19', 'value': '0.17'},
  {'date': '2020-06-12', 'value': '0.17'},
  {'date': '2020-06-05', 'value': '0.15'},
  {'date': '2020-05-29', 'value': '0.15'},
  {'date': '2020-05-22', 'value': '0.12'},
  {'date': '2020-05-15', 'value': '0.12'},
  {'date': '2020-05-08', 'value': '0.12'},
  {'date': '2020-05-01', 'value': '0.11'},
  {'date': '2020-04-24', 'value': '0.12'},
  {'date': '2020-04-17', 'value': '0.17'},
  {'date': '2020-04-10', 'value': '0.19'},
  {'date': '2020-04-03', 'value': '0.10'},
  {'date': '2020-03-27', 'value': '0.01'},
  {'date': '2020-03-20', 'value': '0.11'},
  {'date': '2020-03-13', 'value': '0.36'},
  {'date': '2020-03-06', 'value': '0.77'},
  {'date': '2020-02-28', 'value': '1.46'},
  {'date': '2020-02-21', 'value': '1.58'},
  {'date': '2020-02-14', 'value': '1.58'},
  {'date': '2020-02-07', 'value': '1.57'},
  {'date': '2020-01-31', 'value': '1.56'},
  {'date': '2020-01-24', 'value': '1.55'},
  {'date': '2020-01-17', 'value': '1.56'},
  {'date': '2020-01-10', 'value': '1.54'},
  {'date': '2020-01-03', 'value': '1.55'},
  {'date': '2019-12-27', 'value': '1.58'},
  {'date': '2019-12-20', 'value': '1.57'},
  {'date': '2019-12-13', 'value': '1.56'},
  {'date': '2019-12-06', 'value': '1.56'},
  {'date': '2019-11-29', 'value': '1.61'},
  {'date': '2019-11-22', 'value': '1.57'},
  {'date': '2019-11-15', 'value': '1.58'},
  {'date': '2019-11-08', 'value': '1.55'},
  {'date': '2019-11-01', 'value': '1.59'},
  {'date': '2019-10-25', 'value': '1.66'},
  {'date': '2019-10-18', 'value': '1.66'},
  {'date': '2019-10-11', 'value': '1.70'},
  {'date': '2019-10-04', 'value': '1.78'},
  {'date': '2019-09-27', 'value': '1.88'},
  {'date': '2019-09-20', 'value': '1.95'},
  {'date': '2019-09-13', 'value': '1.96'},
  {'date': '2019-09-06', 'value': '1.97'},
  {'date': '2019-08-30', 'value': '1.99'},
  {'date': '2019-08-23', 'value': '1.96'},
  {'date': '2019-08-16', 'value': '1.95'},
  {'date': '2019-08-09', 'value': '2.03'},
  {'date': '2019-08-02', 'value': '2.08'},
  {'date': '2019-07-26', 'value': '2.09'},
  {'date': '2019-07-19', 'value': '2.11'},
  {'date': '2019-07-12', 'value': '2.21'},
  {'date': '2019-07-05', 'value': '2.21'},
  {'date': '2019-06-28', 'value': '2.13'},
  {'date': '2019-06-21', 'value': '2.18'},
  {'date': '2019-06-14', 'value': '2.24'},
  {'date': '2019-06-07', 'value': '2.33'},
  {'date': '2019-05-31', 'value': '2.37'},
  {'date': '2019-05-24', 'value': '2.38'},
  {'date': '2019-05-17', 'value': '2.41'},
  {'date': '2019-05-10', 'value': '2.43'},
  {'date': '2019-05-03', 'value': '2.44'},
  {'date': '2019-04-26', 'value': '2.44'},
  {'date': '2019-04-19', 'value': '2.43'},
  {'date': '2019-04-12', 'value': '2.43'},
  {'date': '2019-04-05', 'value': '2.43'},
  {'date': '2019-03-29', 'value': '2.44'},
  {'date': '2019-03-22', 'value': '2.47'},
  {'date': '2019-03-15', 'value': '2.45'},
  {'date': '2019-03-08', 'value': '2.46'},
  {'date': '2019-03-01', 'value': '2.45'},
  {'date': '2019-02-22', 'value': '2.45'},
  {'date': '2019-02-15', 'value': '2.44'},
  {'date': '2019-02-08', 'value': '2.42'},
  {'date': '2019-02-01', 'value': '2.41'},
  {'date': '2019-01-25', 'value': '2.40'},
  {'date': '2019-01-18', 'value': '2.43'},
  {'date': '2019-01-11', 'value': '2.44'},
  {'date': '2019-01-04', 'value': '2.43'},
  {'date': '2018-12-28', 'value': '2.43'},
  {'date': '2018-12-21', 'value': '2.39'},
  {'date': '2018-12-14', 'value': '2.42'},
  {'date': '2018-12-07', 'value': '2.40'},
  {'date': '2018-11-30', 'value': '2.39'},
  {'date': '2018-11-23', 'value': '2.40'},
  {'date': '2018-11-16', 'value': '2.37'},
  {'date': '2018-11-09', 'value': '2.36'},
  {'date': '2018-11-02', 'value': '2.33'},
  {'date': '2018-10-26', 'value': '2.34'},
  {'date': '2018-10-19', 'value': '2.31'},
  {'date': '2018-10-12', 'value': '2.27'},
  {'date': '2018-10-05', 'value': '2.23'},
  {'date': '2018-09-28', 'value': '2.20'},
  {'date': '2018-09-21', 'value': '2.17'},
  {'date': '2018-09-14', 'value': '2.15'},
  {'date': '2018-09-07', 'value': '2.14'},
  {'date': '2018-08-31', 'value': '2.12'},
  {'date': '2018-08-24', 'value': '2.08'},
  {'date': '2018-08-17', 'value': '2.07'},
  {'date': '2018-08-10', 'value': '2.06'},
  {'date': '2018-08-03', 'value': '2.03'},
  {'date': '2018-07-27', 'value': '2.00'},
  {'date': '2018-07-20', 'value': '2.00'},
  {'date': '2018-07-13', 'value': '1.98'},
  {'date': '2018-07-06', 'value': '1.97'},
  {'date': '2018-06-29', 'value': '1.93'},
  {'date': '2018-06-22', 'value': '1.94'},
  {'date': '2018-06-15', 'value': '1.94'},
  {'date': '2018-06-08', 'value': '1.94'},
  {'date': '2018-06-01', 'value': '1.93'},
  {'date': '2018-05-25', 'value': '1.92'},
  {'date': '2018-05-18', 'value': '1.92'},
  {'date': '2018-05-11', 'value': '1.89'},
  {'date': '2018-05-04', 'value': '1.85'},
  {'date': '2018-04-27', 'value': '1.85'},
  {'date': '2018-04-20', 'value': '1.81'},
  {'date': '2018-04-13', 'value': '1.75'},
  {'date': '2018-04-06', 'value': '1.74'},
  {'date': '2018-03-30', 'value': '1.76'},
  {'date': '2018-03-23', 'value': '1.76'},
  {'date': '2018-03-16', 'value': '1.75'},
  {'date': '2018-03-09', 'value': '1.68'},
  {'date': '2018-03-02', 'value': '1.65'},
  {'date': '2018-02-23', 'value': '1.64'},
  {'date': '2018-02-16', 'value': '1.60'},
  {'date': '2018-02-09', 'value': '1.54'},
  {'date': '2018-02-02', 'value': '1.46'},
  {'date': '2018-01-26', 'value': '1.43'},
  {'date': '2018-01-19', 'value': '1.45'},
  {'date': '2018-01-12', 'value': '1.43'},
  {'date': '2018-01-05', 'value': '1.41'},
  {'date': '2017-12-29', 'value': '1.42'},
  {'date': '2017-12-22', 'value': '1.36'},
  {'date': '2017-12-15', 'value': '1.32'},
  {'date': '2017-12-08', 'value': '1.29'},
  {'date': '2017-12-01', 'value': '1.28'},
  {'date': '2017-11-24', 'value': '1.30'},
  {'date': '2017-11-17', 'value': '1.26'},
  {'date': '2017-11-10', 'value': '1.22'},
  {'date': '2017-11-03', 'value': '1.16'},
  {'date': '2017-10-27', 'value': '1.11'},
  {'date': '2017-10-20', 'value': '1.10'},
  {'date': '2017-10-13', 'value': '1.09'},
  {'date': '2017-10-06', 'value': '1.06'},
  {'date': '2017-09-29', 'value': '1.06'},
  {'date': '2017-09-22', 'value': '1.04'},
  {'date': '2017-09-15', 'value': '1.04'},
  {'date': '2017-09-08', 'value': '1.05'},
  {'date': '2017-09-01', 'value': '1.01'},
  {'date': '2017-08-25', 'value': '1.01'},
  {'date': '2017-08-18', 'value': '1.02'},
  {'date': '2017-08-11', 'value': '1.04'},
  {'date': '2017-08-04', 'value': '1.08'},
  {'date': '2017-07-28', 'value': '1.13'},
  {'date': '2017-07-21', 'value': '1.11'},
  {'date': '2017-07-14', 'value': '1.05'},
  {'date': '2017-07-07', 'value': '1.05'},
  {'date': '2017-06-30', 'value': '1.02'},
  {'date': '2017-06-23', 'value': '0.99'},
  {'date': '2017-06-16', 'value': '1.01'},
  {'date': '2017-06-09', 'value': '0.99'},
  {'date': '2017-06-02', 'value': '0.97'},
  {'date': '2017-05-26', 'value': '0.93'},
  {'date': '2017-05-19', 'value': '0.91'},
  {'date': '2017-05-12', 'value': '0.90'},
  {'date': '2017-05-05', 'value': '0.85'},
  {'date': '2017-04-28', 'value': '0.81'},
  {'date': '2017-04-21', 'value': '0.81'},
  {'date': '2017-04-14', 'value': '0.82'},
  {'date': '2017-04-07', 'value': '0.80'},
  {'date': '2017-03-31', 'value': '0.78'},
  {'date': '2017-03-24', 'value': '0.77'},
  {'date': '2017-03-17', 'value': '0.75'},
  {'date': '2017-03-10', 'value': '0.74'},
  {'date': '2017-03-03', 'value': '0.61'},
  {'date': '2017-02-24', 'value': '0.52'},
  {'date': '2017-02-17', 'value': '0.53'},
  {'date': '2017-02-10', 'value': '0.54'},
  {'date': '2017-02-03', 'value': '0.51'},
  {'date': '2017-01-27', 'value': '0.51'},
  {'date': '2017-01-20', 'value': '0.53'},
  {'date': '2017-01-13', 'value': '0.52'},
  {'date': '2017-01-06', 'value': '0.53'},
  {'date': '2016-12-30', 'value': '0.51'},
  {'date': '2016-12-23', 'value': '0.52'},
  {'date': '2016-12-16', 'value': '0.52'},
  {'date': '2016-12-09', 'value': '0.51'},
  {'date': '2016-12-02', 'value': '0.48'},
  {'date': '2016-11-25', 'value': '0.49'},
  {'date': '2016-11-18', 'value': '0.48'},
  {'date': '2016-11-11', 'value': '0.44'},
  {'date': '2016-11-04', 'value': '0.36'},
  {'date': '2016-10-28', 'value': '0.32'},
  {'date': '2016-10-21', 'value': '0.34'},
  {'date': '2016-10-14', 'value': '0.34'},
  {'date': '2016-10-07', 'value': '0.33'},
  {'date': '2016-09-30', 'value': '0.27'},
  {'date': '2016-09-23', 'value': '0.24'},
  {'date': '2016-09-16', 'value': '0.33'},
  {'date': '2016-09-09', 'value': '0.34'},
  {'date': '2016-09-02', 'value': '0.33'},
  {'date': '2016-08-26', 'value': '0.31'},
  {'date': '2016-08-19', 'value': '0.30'},
  {'date': '2016-08-12', 'value': '0.29'},
  {'date': '2016-08-05', 'value': '0.28'},
  {'date': '2016-07-29', 'value': '0.29'},
  {'date': '2016-07-22', 'value': '0.32'},
  {'date': '2016-07-15', 'value': '0.31'},
  {'date': '2016-07-08', 'value': '0.28'},
  {'date': '2016-07-01', 'value': '0.27'},
  {'date': '2016-06-24', 'value': '0.28'},
  {'date': '2016-06-17', 'value': '0.27'},
  {'date': '2016-06-10', 'value': '0.26'},
  {'date': '2016-06-03', 'value': '0.31'},
  {'date': '2016-05-27', 'value': '0.33'},
  {'date': '2016-05-20', 'value': '0.30'},
  {'date': '2016-05-13', 'value': '0.26'},
  {'date': '2016-05-06', 'value': '0.20'},
  {'date': '2016-04-29', 'value': '0.23'},
  {'date': '2016-04-22', 'value': '0.22'},
  {'date': '2016-04-15', 'value': '0.22'},
  {'date': '2016-04-08', 'value': '0.23'},
  {'date': '2016-04-01', 'value': '0.23'},
  {'date': '2016-03-25', 'value': '0.30'},
  {'date': '2016-03-18', 'value': '0.32'},
  {'date': '2016-03-11', 'value': '0.31'},
  {'date': '2016-03-04', 'value': '0.32'},
  {'date': '2016-02-26', 'value': '0.33'},
  {'date': '2016-02-19', 'value': '0.30'},
  {'date': '2016-02-12', 'value': '0.30'},
  {'date': '2016-02-05', 'value': '0.32'},
  {'date': '2016-01-29', 'value': '0.32'},
  {'date': '2016-01-22', 'value': '0.28'},
  {'date': '2016-01-15', 'value': '0.23'},
  {'date': '2016-01-08', 'value': '0.21'},
  {'date': '2016-01-01', 'value': '0.21'},
  {'date': '2015-12-25', 'value': '0.21'},
  {'date': '2015-12-18', 'value': '0.24'},
  {'date': '2015-12-11', 'value': '0.26'},
  {'date': '2015-12-04', 'value': '0.22'},
  {'date': '2015-11-27', 'value': '0.17'},
  {'date': '2015-11-20', 'value': '0.13'},
  {'date': '2015-11-13', 'value': '0.14'},
  {'date': '2015-11-06', 'value': '0.06'},
  {'date': '2015-10-30', 'value': '0.05'},
  {'date': '2015-10-23', 'value': '0.01'},
  {'date': '2015-10-16', 'value': '0.01'},
  {'date': '2015-10-09', 'value': '0.00'},
  {'date': '2015-10-02', 'value': '0.00'},
  {'date': '2015-09-25', 'value': '0.01'},
  {'date': '2015-09-18', 'value': '0.04'},
  {'date': '2015-09-11', 'value': '0.04'},
  {'date': '2015-09-04', 'value': '0.04'},
  {'date': '2015-08-28', 'value': '0.06'},
  {'date': '2015-08-21', 'value': '0.05'},
  {'date': '2015-08-14', 'value': '0.10'},
  {'date': '2015-08-07', 'value': '0.07'},
  {'date': '2015-07-31', 'value': '0.06'},
  {'date': '2015-07-24', 'value': '0.04'},
  {'date': '2015-07-17', 'value': '0.02'},
  {'date': '2015-07-10', 'value': '0.02'},
  {'date': '2015-07-03', 'value': '0.01'},
  {'date': '2015-06-26', 'value': '0.01'},
  {'date': '2015-06-19', 'value': '0.01'},
  {'date': '2015-06-12', 'value': '0.02'},
  {'date': '2015-06-05', 'value': '0.02'},
  {'date': '2015-05-29', 'value': '0.01'},
  {'date': '2015-05-22', 'value': '0.02'},
  {'date': '2015-05-15', 'value': '0.02'},
  {'date': '2015-05-08', 'value': '0.01'},
  {'date': '2015-05-01', 'value': '0.01'},
  {'date': '2015-04-24', 'value': '0.03'},
  {'date': '2015-04-17', 'value': '0.02'},
  {'date': '2015-04-10', 'value': '0.03'},
  {'date': '2015-04-03', 'value': '0.03'},
  {'date': '2015-03-27', 'value': '0.03'},
  {'date': '2015-03-20', 'value': '0.03'},
  {'date': '2015-03-13', 'value': '0.03'},
  {'date': '2015-03-06', 'value': '0.02'},
  {'date': '2015-02-27', 'value': '0.02'},
  {'date': '2015-02-20', 'value': '0.02'},
  {'date': '2015-02-13', 'value': '0.01'},
  {'date': '2015-02-06', 'value': '0.02'},
  {'date': '2015-01-30', 'value': '0.02'},
  {'date': '2015-01-23', 'value': '0.03'},
  {'date': '2015-01-16', 'value': '0.03'},
  {'date': '2015-01-09', 'value': '0.03'},
  {'date': '2015-01-02', 'value': '0.03'},
  {'date': '2014-12-26', 'value': '0.03'},
  {'date': '2014-12-19', 'value': '0.04'},
  {'date': '2014-12-12', 'value': '0.03'},
  {'date': '2014-12-05', 'value': '0.02'},
  {'date': '2014-11-28', 'value': '0.02'},
  {'date': '2014-11-21', 'value': '0.02'},
  {'date': '2014-11-14', 'value': '0.02'},
  {'date': '2014-11-07', 'value': '0.03'},
  {'date': '2014-10-31', 'value': '0.02'},
  {'date': '2014-10-24', 'value': '0.02'},
  {'date': '2014-10-17', 'value': '0.02'},
  {'date': '2014-10-10', 'value': '0.01'},
  {'date': '2014-10-03', 'value': '0.02'},
  {'date': '2014-09-26', 'value': '0.01'},
  {'date': '2014-09-19', 'value': '0.02'},
  {'date': '2014-09-12', 'value': '0.02'},
  {'date': '2014-09-05', 'value': '0.03'},
  {'date': '2014-08-29', 'value': '0.03'},
  {'date': '2014-08-22', 'value': '0.03'},
  {'date': '2014-08-15', 'value': '0.04'},
  {'date': '2014-08-08', 'value': '0.03'},
  {'date': '2014-08-01', 'value': '0.03'},
  {'date': '2014-07-25', 'value': '0.03'},
  {'date': '2014-07-18', 'value': '0.02'},
  {'date': '2014-07-11', 'value': '0.03'},
  {'date': '2014-07-04', 'value': '0.02'},
  {'date': '2014-06-27', 'value': '0.03'},
  {'date': '2014-06-20', 'value': '0.03'},
  {'date': '2014-06-13', 'value': '0.04'},
  {'date': '2014-06-06', 'value': '0.04'},
  {'date': '2014-05-30', 'value': '0.04'},
  {'date': '2014-05-23', 'value': '0.03'},
  {'date': '2014-05-16', 'value': '0.03'},
  {'date': '2014-05-09', 'value': '0.03'},
  {'date': '2014-05-02', 'value': '0.03'},
  {'date': '2014-04-25', 'value': '0.03'},
  {'date': '2014-04-18', 'value': '0.04'},
  {'date': '2014-04-11', 'value': '0.04'},
  {'date': '2014-04-04', 'value': '0.03'},
  {'date': '2014-03-28', 'value': '0.05'},
  {'date': '2014-03-21', 'value': '0.06'},
  {'date': '2014-03-14', 'value': '0.05'},
  {'date': '2014-03-07', 'value': '0.05'},
  {'date': '2014-02-28', 'value': '0.05'},
  {'date': '2014-02-21', 'value': '0.05'},
  {'date': '2014-02-14', 'value': '0.04'},
  {'date': '2014-02-07', 'value': '0.07'},
  {'date': '2014-01-31', 'value': '0.04'},
  {'date': '2014-01-24', 'value': '0.04'},
  {'date': '2014-01-17', 'value': '0.04'},
  {'date': '2014-01-10', 'value': '0.05'},
  {'date': '2014-01-03', 'value': '0.07'},
  {'date': '2013-12-27', 'value': '0.07'},
  {'date': '2013-12-20', 'value': '0.07'},
  {'date': '2013-12-13', 'value': '0.07'},
  {'date': '2013-12-06', 'value': '0.06'},
  {'date': '2013-11-29', 'value': '0.07'},
  {'date': '2013-11-22', 'value': '0.08'},
  {'date': '2013-11-15', 'value': '0.08'},
  {'date': '2013-11-08', 'value': '0.05'},
  {'date': '2013-11-01', 'value': '0.04'},
  {'date': '2013-10-25', 'value': '0.04'},
  {'date': '2013-10-18', 'value': '0.08'},
  {'date': '2013-10-11', 'value': '0.05'},
  {'date': '2013-10-04', 'value': '0.02'},
  {'date': '2013-09-27', 'value': '0.02'},
  {'date': '2013-09-20', 'value': '0.01'},
  {'date': '2013-09-13', 'value': '0.02'},
  {'date': '2013-09-06', 'value': '0.02'},
  {'date': '2013-08-30', 'value': '0.03'},
  {'date': '2013-08-23', 'value': '0.04'},
  {'date': '2013-08-16', 'value': '0.05'},
  {'date': '2013-08-09', 'value': '0.05'},
  {'date': '2013-08-02', 'value': '0.04'},
  {'date': '2013-07-26', 'value': '0.03'},
  {'date': '2013-07-19', 'value': '0.03'},
  {'date': '2013-07-12', 'value': '0.04'},
  {'date': '2013-07-05', 'value': '0.04'},
  {'date': '2013-06-28', 'value': '0.06'},
  {'date': '2013-06-21', 'value': '0.05'},
  {'date': '2013-06-14', 'value': '0.05'},
  {'date': '2013-06-07', 'value': '0.05'},
  {'date': '2013-05-31', 'value': '0.05'},
  {'date': '2013-05-24', 'value': '0.04'},
  {'date': '2013-05-17', 'value': '0.04'},
  {'date': '2013-05-10', 'value': '0.04'},
  {'date': '2013-05-03', 'value': '0.05'},
  {'date': '2013-04-26', 'value': '0.05'},
  {'date': '2013-04-19', 'value': '0.06'},
  {'date': '2013-04-12', 'value': '0.07'},
  {'date': '2013-04-05', 'value': '0.07'},
  {'date': '2013-03-29', 'value': '0.08'},
  {'date': '2013-03-22', 'value': '0.07'},
  {'date': '2013-03-15', 'value': '0.10'},
  {'date': '2013-03-08', 'value': '0.10'},

<a id='10'></a>
## Stock Fundamentals

In [24]:
ticker = "IBM"
url = 'https://www.alphavantage.co/query?function=OVERVIEW&symbol='+ticker+'&apikey={key}'
r = requests.get(url)
data = r.json()
data

{'Symbol': 'IBM',
 'AssetType': 'Common Stock',
 'Name': 'International Business Machines Corporation',
 'Description': 'International Business Machines Corporation (IBM) is an American multinational technology company headquartered in Armonk, New York, with operations in over 170 countries. The company began in 1911, founded in Endicott, New York, as the Computing-Tabulating-Recording Company (CTR) and was renamed International Business Machines in 1924. IBM is incorporated in New York. IBM produces and sells computer hardware, middleware and software, and provides hosting and consulting services in areas ranging from mainframe computers to nanotechnology. IBM is also a major research organization, holding the record for most annual U.S. patents generated by a business (as of 2020) for 28 consecutive years. Inventions by IBM include the automated teller machine (ATM), the floppy disk, the hard disk drive, the magnetic stripe card, the relational database, the SQL programming language, the UPC barcode, and dynamic random-access memory (DRAM). The IBM mainframe, exemplified by the System/360, was the dominant computing platform during the 1960s and 1970s.',
 'CIK': '51143',
 'Exchange': 'NYSE',
 'Currency': 'USD',
 'Country': 'USA',
 'Sector': 'TECHNOLOGY',
 'Industry': 'COMPUTER & OFFICE EQUIPMENT',
 'Address': '1 NEW ORCHARD ROAD, ARMONK, NY, US',
 'FiscalYearEnd': 'December',
 'LatestQuarter': '2021-09-30',
 'MarketCapitalization': '120359600000',
 'EBITDA': '15659000000',
 'PERatio': '11.12',
 'PEGRatio': '2.154',
 'BookValue': '24.79',
 'DividendPerShare': '6.54',
 'DividendYield': '0.0489',
 'EPS': '5.28',
 'RevenuePerShareTTM': '83.23',
 'ProfitMargin': '0.064',
 'OperatingMarginTTM': '0.12',
 'ReturnOnAssetsTTM': '0.0374',
 'ReturnOnEquityTTM': '21.47',
 'RevenueTTM': '74461004000',
 'GrossProfitTTM': '35575000000',
 'DilutedEPSTTM': '5.28',
 'QuarterlyEarningsGrowthYOY': '-0.338',
 'QuarterlyRevenueGrowthYOY': '0.003',
 'AnalystTargetPrice': '144.77',
 'TrailingPE': '25.4',
 'ForwardPE': '10.86',
 'PriceToSalesRatioTTM': '1.615',
 'PriceToBookRatio': '5.01',
 'EVToRevenue': '2.178',
 'EVToEBITDA': '12.51',
 'Beta': '1.129',
 '52WeekHigh': '142.43',
 '52WeekLow': '106.73',
 '50DayMovingAverage': '125.22',
 '200DayMovingAverage': '132.11',
 'SharesOutstanding': '896320000',
 'DividendDate': '2021-12-10',
 'ExDividendDate': '2021-11-09'}

<a id='11'></a>
## Financials

In [4]:
document = 'INCOME_STATEMENT' # BALANCE_SHEET, CASH_FLOW
url = 'https://www.alphavantage.co/query?function='+document+'&symbol=IBM&apikey=demo'
r = requests.get(url)
data = r.json()
data

{'symbol': 'IBM',
 'annualReports': [{'fiscalDateEnding': '2020-12-31',
   'reportedCurrency': 'USD',
   'grossProfit': '35575000000',
   'totalRevenue': '73620000000',
   'costOfRevenue': '38046000000',
   'costofGoodsAndServicesSold': '439000000',
   'operatingIncome': '4609000000',
   'sellingGeneralAndAdministrative': '23082000000',
   'researchAndDevelopment': '6333000000',
   'operatingExpenses': '30966000000',
   'investmentIncomeNet': 'None',
   'netInterestIncome': '-1288000000',
   'interestIncome': '105000000',
   'interestExpense': '1288000000',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': '-861000000',
   'depreciation': '4227000000',
   'depreciationAndAmortization': '2468000000',
   'incomeBeforeTax': '4726000000',
   'incomeTaxExpense': '-864000000',
   'interestAndDebtExpense': '1288000000',
   'netIncomeFromContinuingOperations': '5501000000',
   'comprehensiveIncomeNetOfTax': '4850000000',
   'ebit': '6014000000',
   'ebitda': '8482000000',
   'netIncome': '5590000000'},
  {'fiscalDateEnding': '2019-12-31',
   'reportedCurrency': 'USD',
   'grossProfit': '36488000000',
   'totalRevenue': '77147000000',
   'costOfRevenue': '40659000000',
   'costofGoodsAndServicesSold': '591000000',
   'operatingIncome': '9004000000',
   'sellingGeneralAndAdministrative': '20604000000',
   'researchAndDevelopment': '5989000000',
   'operatingExpenses': '27484000000',
   'investmentIncomeNet': 'None',
   'netInterestIncome': '-1344000000',
   'interestIncome': '349000000',
   'interestExpense': '1344000000',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': '968000000',
   'depreciation': '4209000000',
   'depreciationAndAmortization': '1850000000',
   'incomeBeforeTax': '10162000000',
   'incomeTaxExpense': '731000000',
   'interestAndDebtExpense': '1344000000',
   'netIncomeFromContinuingOperations': '9435000000',
   'comprehensiveIncomeNetOfTax': '10324000000',
   'ebit': '11506000000',
   'ebitda': '13356000000',
   'netIncome': '9431000000'},
  {'fiscalDateEnding': '2018-12-31',
   'reportedCurrency': 'USD',
   'grossProfit': '36936000000',
   'totalRevenue': '79591000000',
   'costOfRevenue': '42655000000',
   'costofGoodsAndServicesSold': '42655000000',
   'operatingIncome': '10838000000',
   'sellingGeneralAndAdministrative': '19366000000',
   'researchAndDevelopment': '5379000000',
   'operatingExpenses': '26098000000',
   'investmentIncomeNet': 'None',
   'netInterestIncome': '-723000000',
   'interestIncome': '264000000',
   'interestExpense': '723000000',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': '-1152000000',
   'depreciation': '3127000000',
   'depreciationAndAmortization': '1353000000',
   'incomeBeforeTax': '11347000000',
   'incomeTaxExpense': '2619000000',
   'interestAndDebtExpense': '723000000',
   'netIncomeFromContinuingOperations': '8723000000',
   'comprehensiveIncomeNetOfTax': '8252000000',
   'ebit': '12070000000',
   'ebitda': '13423000000',
   'netIncome': '8728000000'},
  {'fiscalDateEnding': '2017-12-31',
   'reportedCurrency': 'USD',
   'grossProfit': '36943000000',
   'totalRevenue': '79139000000',
   'costOfRevenue': '42196000000',
   'costofGoodsAndServicesSold': '41703000000',
   'operatingIncome': '8813000000',
   'sellingGeneralAndAdministrative': '19680000000',
   'researchAndDevelopment': '5590000000',
   'operatingExpenses': '27414000000',
   'investmentIncomeNet': 'None',
   'netInterestIncome': '-615000000',
   'interestIncome': '144000000',
   'interestExpense': '615000000',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': '216000000',
   'depreciation': '3021000000',
   'depreciationAndAmortization': '1520000000',
   'incomeBeforeTax': '11395000000',
   'incomeTaxExpense': '5642000000',
   'interestAndDebtExpense': '615000000',
   'netIncomeFromContinuingOperations': '5758000000',
   'comprehensiveIncomeNetOfTax': '8559000000',
   'ebit': '12010000000',
   'ebitda': '13530000000',
   'netIncome': '5753000000'},
  {'fiscalDateEnding': '2016-12-31',
   'reportedCurrency': 'USD',
   'grossProfit': '38516000000',
   'totalRevenue': '79919000000',
   'costOfRevenue': '41403000000',
   'costofGoodsAndServicesSold': '40580000000',
   'operatingIncome': '9715000000',
   'sellingGeneralAndAdministrative': '20869000000',
   'researchAndDevelopment': '5726000000',
   'operatingExpenses': '28579000000',
   'investmentIncomeNet': 'None',
   'netInterestIncome': '-630000000',
   'interestIncome': '108000000',
   'interestExpense': '630000000',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': '-145000000',
   'depreciation': '2837000000',
   'depreciationAndAmortization': '1544000000',
   'incomeBeforeTax': '12321000000',
   'incomeTaxExpense': '449000000',
   'interestAndDebtExpense': '630000000',
   'netIncomeFromContinuingOperations': '11881000000',
   'comprehensiveIncomeNetOfTax': '12081000000',
   'ebit': '12951000000',
   'ebitda': '14495000000',
   'netIncome': '11872000000'}],
 'quarterlyReports': [{'fiscalDateEnding': '2021-09-30',
   'reportedCurrency': 'USD',
   'grossProfit': '8171000000',
   'totalRevenue': '17618000000',
   'costOfRevenue': '9447000000',
   'costofGoodsAndServicesSold': '49000000',
   'operatingIncome': '1761000000',
   'sellingGeneralAndAdministrative': '4860000000',
   'researchAndDevelopment': '1621000000',
   'operatingExpenses': '6410000000',
   'investmentIncomeNet': 'None',
   'netInterestIncome': '-291000000',
   'interestIncome': '14000000',
   'interestExpense': '291000000',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': '-234000000',
   'depreciation': '1037000000',
   'depreciationAndAmortization': '647000000',
   'incomeBeforeTax': '1318000000',
   'incomeTaxExpense': '188000000',
   'interestAndDebtExpense': '291000000',
   'netIncomeFromContinuingOperations': '1130000000',
   'comprehensiveIncomeNetOfTax': '1480000000',
   'ebit': '1609000000',
   'ebitda': '2256000000',
   'netIncome': '1130000000'},
  {'fiscalDateEnding': '2021-06-30',
   'reportedCurrency': 'USD',
   'grossProfit': '9004000000',
   'totalRevenue': '18745000000',
   'costOfRevenue': '9741000000',
   'costofGoodsAndServicesSold': '103000000',
   'operatingIncome': '2304000000',
   'sellingGeneralAndAdministrative': '5334000000',
   'researchAndDevelopment': '1657000000',
   'operatingExpenses': '6700000000',
   'investmentIncomeNet': 'None',
   'netInterestIncome': '-281000000',
   'interestIncome': '11000000',
   'interestExpense': '281000000',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': '-315000000',
   'depreciation': '1050000000',
   'depreciationAndAmortization': '630000000',
   'incomeBeforeTax': '1552000000',
   'incomeTaxExpense': '227000000',
   'interestAndDebtExpense': '281000000',
   'netIncomeFromContinuingOperations': '1325000000',
   'comprehensiveIncomeNetOfTax': '1930000000',
   'ebit': '1833000000',
   'ebitda': '2463000000',
   'netIncome': '1325000000'},
  {'fiscalDateEnding': '2021-03-31',
   'reportedCurrency': 'USD',
   'grossProfit': '8204000000',
   'totalRevenue': '17730000000',
   'costOfRevenue': '9525000000',
   'costofGoodsAndServicesSold': '59000000',
   'operatingIncome': '1084000000',
   'sellingGeneralAndAdministrative': '5174000000',
   'researchAndDevelopment': '1630000000',
   'operatingExpenses': '7120000000',
   'investmentIncomeNet': 'None',
   'netInterestIncome': '-280000000',
   'interestIncome': '14000000',
   'interestExpense': '280000000',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': '-362000000',
   'depreciation': '1052000000',
   'depreciationAndAmortization': '620000000',
   'incomeBeforeTax': '904000000',
   'incomeTaxExpense': '-51000000',
   'interestAndDebtExpense': '280000000',
   'netIncomeFromContinuingOperations': '956000000',
   'comprehensiveIncomeNetOfTax': '2036000000',
   'ebit': '1184000000',
   'ebitda': '1804000000',
   'netIncome': '955000000'},
  {'fiscalDateEnding': '2020-12-31',
   'reportedCurrency': 'USD',
   'grossProfit': '10523000000',
   'totalRevenue': '20367000000',
   'costOfRevenue': '9844000000',
   'costofGoodsAndServicesSold': '181000000',
   'operatingIncome': '-4000000000',
   'sellingGeneralAndAdministrative': '7233000000',
   'researchAndDevelopment': '1611000000',
   'operatingExpenses': '2000000000',
   'investmentIncomeNet': 'None',
   'netInterestIncome': '-317000000',
   'interestIncome': '15000000',
   'interestExpense': '317000000',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': '-247000000',
   'depreciation': '1089000000',
   'depreciationAndAmortization': '610000000',
   'incomeBeforeTax': '1380000000',
   'incomeTaxExpense': '24000000',
   'interestAndDebtExpense': '317000000',
   'netIncomeFromContinuingOperations': '1264000000',
   'comprehensiveIncomeNetOfTax': '603000000',
   'ebit': '1697000000',
   'ebitda': '2307000000',
   'netIncome': '1356000000'},
  {'fiscalDateEnding': '2020-09-30',
   'reportedCurrency': 'USD',
   'grossProfit': '8430000000',
   'totalRevenue': '17560000000',
   'costOfRevenue': '9130000000',
   'costofGoodsAndServicesSold': '64000000',
   'operatingIncome': '2358000000',
   'sellingGeneralAndAdministrative': '4647000000',
   'researchAndDevelopment': '1515000000',
   'operatingExpenses': '6072000000',
   'investmentIncomeNet': 'None',
   'netInterestIncome': '-323000000',
   'interestIncome': '15000000',
   'interestExpense': '323000000',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': '-253000000',
   'depreciation': '1070000000',
   'depreciationAndAmortization': '613000000',
   'incomeBeforeTax': '1826000000',
   'incomeTaxExpense': '128000000',
   'interestAndDebtExpense': '323000000',
   'netIncomeFromContinuingOperations': '1698000000',
   'comprehensiveIncomeNetOfTax': '1870000000',
   'ebit': '2149000000',
   'ebitda': '2762000000',
   'netIncome': '1698000000'},
  {'fiscalDateEnding': '2020-06-30',
   'reportedCurrency': 'USD',
   'grossProfit': '8700000000',
   'totalRevenue': '18123000000',
   'costOfRevenue': '9423000000',
   'costofGoodsAndServicesSold': '117000000',
   'operatingIncome': '2121000000',
   'sellingGeneralAndAdministrative': '5248000000',
   'researchAndDevelopment': '1582000000',
   'operatingExpenses': '6579000000',
   'investmentIncomeNet': 'None',
   'netInterestIncome': '-323000000',
   'interestIncome': '23000000',
   'interestExpense': '323000000',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': '-179000000',
   'depreciation': '1056000000',
   'depreciationAndAmortization': '623000000',
   'incomeBeforeTax': '1570000000',
   'incomeTaxExpense': '209000000',
   'interestAndDebtExpense': '323000000',
   'netIncomeFromContinuingOperations': '1362000000',
   'comprehensiveIncomeNetOfTax': '1888000000',
   'ebit': '1893000000',
   'ebitda': '2516000000',
   'netIncome': '1361000000'},
  {'fiscalDateEnding': '2020-03-31',
   'reportedCurrency': 'USD',
   'grossProfit': '7922000000',
   'totalRevenue': '17571000000',
   'costOfRevenue': '9649000000',
   'costofGoodsAndServicesSold': '76000000',
   'operatingIncome': '-145000000',
   'sellingGeneralAndAdministrative': '5955000000',
   'researchAndDevelopment': '1625000000',
   'operatingExpenses': '8067000000',
   'investmentIncomeNet': 'None',
   'netInterestIncome': '-326000000',
   'interestIncome': '51000000',
   'interestExpense': '326000000',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': '-182000000',
   'depreciation': '1012000000',
   'depreciationAndAmortization': '622000000',
   'incomeBeforeTax': '-51000000',
   'incomeTaxExpense': '-1226000000',
   'interestAndDebtExpense': '326000000',
   'netIncomeFromContinuingOperations': '1176000000',
   'comprehensiveIncomeNetOfTax': '489000000',
   'ebit': '275000000',
   'ebitda': '897000000',
   'netIncome': '1175000000'},
  {'fiscalDateEnding': '2019-12-31',
   'reportedCurrency': 'USD',
   'grossProfit': '11100000000',
   'totalRevenue': '21777000000',
   'costOfRevenue': '10677000000',
   'costofGoodsAndServicesSold': '387000000',
   'operatingIncome': '4048000000',
   'sellingGeneralAndAdministrative': '5433000000',
   'researchAndDevelopment': '1596000000',
   'operatingExpenses': '7052000000',
   'investmentIncomeNet': 'None',
   'netInterestIncome': '-354000000',
   'interestIncome': '48000000',
   'interestExpense': '354000000',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': 'None',
   'depreciation': '1021000000',
   'depreciationAndAmortization': '629000000',
   'incomeBeforeTax': '3994000000',
   'incomeTaxExpense': '324000000',
   'interestAndDebtExpense': '354000000',
   'netIncomeFromContinuingOperations': '3669000000',
   'comprehensiveIncomeNetOfTax': '4159000000',
   'ebit': '4348000000',
   'ebitda': '4977000000',
   'netIncome': '3670000000'},
  {'fiscalDateEnding': '2019-09-30',
   'reportedCurrency': 'USD',
   'grossProfit': '8336000000',
   'totalRevenue': '18028000000',
   'costOfRevenue': '9692000000',
   'costofGoodsAndServicesSold': '75000000',
   'operatingIncome': '1872000000',
   'sellingGeneralAndAdministrative': '5024000000',
   'researchAndDevelopment': '1553000000',
   'operatingExpenses': '6464000000',
   'investmentIncomeNet': 'None',
   'netInterestIncome': '-432000000',
   'interestIncome': '63000000',
   'interestExpense': '432000000',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': 'None',
   'depreciation': '1058000000',
   'depreciationAndAmortization': '611000000',
   'incomeBeforeTax': '1521000000',
   'incomeTaxExpense': '-151000000',
   'interestAndDebtExpense': '432000000',
   'netIncomeFromContinuingOperations': '1673000000',
   'comprehensiveIncomeNetOfTax': '1427000000',
   'ebit': '1953000000',
   'ebitda': '2564000000',
   'netIncome': '1672000000'},
  {'fiscalDateEnding': '2019-06-30',
   'reportedCurrency': 'USD',
   'grossProfit': '9010000000',
   'totalRevenue': '19161000000',
   'costOfRevenue': '10151000000',
   'costofGoodsAndServicesSold': '74000000',
   'operatingIncome': '1950000000',
   'sellingGeneralAndAdministrative': '5456000000',
   'researchAndDevelopment': '1407000000',
   'operatingExpenses': '7060000000',
   'investmentIncomeNet': 'None',
   'netInterestIncome': '-348000000',
   'interestIncome': '167000000',
   'interestExpense': '348000000',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': 'None',
   'depreciation': '987000000',
   'depreciationAndAmortization': '307000000',
   'incomeBeforeTax': '2767000000',
   'incomeTaxExpense': '269000000',
   'interestAndDebtExpense': '348000000',
   'netIncomeFromContinuingOperations': '2499000000',
   'comprehensiveIncomeNetOfTax': '2839000000',
   'ebit': '3115000000',
   'ebitda': '3422000000',
   'netIncome': '2498000000'},
  {'fiscalDateEnding': '2019-03-31',
   'reportedCurrency': 'USD',
   'grossProfit': '8043000000',
   'totalRevenue': '18182000000',
   'costOfRevenue': '10139000000',
   'costofGoodsAndServicesSold': '55000000',
   'operatingIncome': '1616000000',
   'sellingGeneralAndAdministrative': '4691000000',
   'researchAndDevelopment': '1433000000',
   'operatingExpenses': '6427000000',
   'investmentIncomeNet': 'None',
   'netInterestIncome': '-210000000',
   'interestIncome': '70000000',
   'interestExpense': '210000000',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': '73000000',
   'depreciation': '1143000000',
   'depreciationAndAmortization': '303000000',
   'incomeBeforeTax': '1880000000',
   'incomeTaxExpense': '289000000',
   'interestAndDebtExpense': '210000000',
   'netIncomeFromContinuingOperations': '1593000000',
   'comprehensiveIncomeNetOfTax': '1899000000',
   'ebit': '2090000000',
   'ebitda': '2393000000',
   'netIncome': '1591000000'},
  {'fiscalDateEnding': '2018-12-31',
   'reportedCurrency': 'USD',
   'grossProfit': '10687000000',
   'totalRevenue': '21761000000',
   'costOfRevenue': '11073000000',
   'costofGoodsAndServicesSold': '11073000000',
   'operatingIncome': '4306000000',
   'sellingGeneralAndAdministrative': '4701000000',
   'researchAndDevelopment': '1358000000',
   'operatingExpenses': '6381000000',
   'investmentIncomeNet': 'None',
   'netInterestIncome': '-193000000',
   'interestIncome': 'None',
   'interestExpense': '193000000',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': '-184000000',
   'depreciation': '790000000',
   'depreciationAndAmortization': '322000000',
   'incomeBeforeTax': '4432000000',
   'incomeTaxExpense': '2481000000',
   'interestAndDebtExpense': '193000000',
   'netIncomeFromContinuingOperations': '1953000000',
   'comprehensiveIncomeNetOfTax': '282000000',
   'ebit': '4625000000',
   'ebitda': '4947000000',
   'netIncome': '1951000000'},
  {'fiscalDateEnding': '2018-09-30',
   'reportedCurrency': 'USD',
   'grossProfit': '8803000000',
   'totalRevenue': '18756000000',
   'costOfRevenue': '9953000000',
   'costofGoodsAndServicesSold': '9953000000',
   'operatingIncome': '2840000000',
   'sellingGeneralAndAdministrative': '4363000000',
   'researchAndDevelopment': '1252000000',
   'operatingExpenses': '5963000000',
   'investmentIncomeNet': 'None',
   'netInterestIncome': '-191000000',
   'interestIncome': 'None',
   'interestExpense': '191000000',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': '-275000000',
   'depreciation': '790000000',
   'depreciationAndAmortization': '348000000',
   'incomeBeforeTax': '2998000000',
   'incomeTaxExpense': '304000000',
   'interestAndDebtExpense': '191000000',
   'netIncomeFromContinuingOperations': '2692000000',
   'comprehensiveIncomeNetOfTax': '3164000000',
   'ebit': '3189000000',
   'ebitda': '3537000000',
   'netIncome': '2694000000'},
  {'fiscalDateEnding': '2018-06-30',
   'reportedCurrency': 'USD',
   'grossProfit': '9199000000',
   'totalRevenue': '20003000000',
   'costOfRevenue': '10804000000',
   'costofGoodsAndServicesSold': '10804000000',
   'operatingIncome': '2636000000',
   'sellingGeneralAndAdministrative': '4857000000',
   'researchAndDevelopment': '1364000000',
   'operatingExpenses': '6563000000',
   'investmentIncomeNet': 'None',
   'netInterestIncome': '-173000000',
   'interestIncome': 'None',
   'interestExpense': '173000000',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': '-280000000',
   'depreciation': '773000000',
   'depreciationAndAmortization': '342000000',
   'incomeBeforeTax': '2777000000',
   'incomeTaxExpense': '373000000',
   'interestAndDebtExpense': '173000000',
   'netIncomeFromContinuingOperations': '2402000000',
   'comprehensiveIncomeNetOfTax': '2697000000',
   'ebit': '2950000000',
   'ebitda': '3292000000',
   'netIncome': '2404000000'},
  {'fiscalDateEnding': '2018-03-31',
   'reportedCurrency': 'USD',
   'grossProfit': '8247000000',
   'totalRevenue': '19072000000',
   'costOfRevenue': '10825000000',
   'costofGoodsAndServicesSold': '10825000000',
   'operatingIncome': '1057000000',
   'sellingGeneralAndAdministrative': '5445000000',
   'researchAndDevelopment': '1405000000',
   'operatingExpenses': '7190000000',
   'investmentIncomeNet': 'None',
   'netInterestIncome': '-165000000',
   'interestIncome': 'None',
   'interestExpense': '165000000',
   'nonInterestIncome': 'None',
   'otherNonOperatingIncome': '-413000000',
   'depreciation': '774000000',
   'depreciationAndAmortization': '340000000',
   'incomeBeforeTax': '1139000000',
   'incomeTaxExpense': '-540000000',
   'interestAndDebtExpense': '165000000',
   'netIncomeFromContinuingOperations': '1675000000',
   'comprehensiveIncomeNetOfTax': '2109000000',
   'ebit': '1304000000',
   'ebitda': '1644000000',
   'netIncome': '1679000000'},
  {'fiscalDateEnding': '2017-12-31',
   'reportedCurrency': 'USD',
   'grossProfit': '11049000000',
   'totalRevenue': '22542000000',
   'costOfRevenue': '11493000000',
   'costofGoodsAndServicesSold': '11362000000',
   'operatingIncome': '3928000000',
   'sellingGeneralAndAdministrative': '5014000000',
   'researchAndDevelopment': '1378000000',

<a id='12'></a>
## Realtime Data

In [25]:
def get_live_updates(symbol):
    api_key = key
    api_url = f'https://www.alphavantage.co/query?function=GLOBAL_QUOTE&symbol={symbol}&apikey={api_key}'
    raw_df = requests.get(api_url).json()
    attributes = {'attributes':['symbol', 'open', 'high', 'low', 'price', 'volume', 'latest trading day', 'previous close', 'change', 'change percent']}
    attributes_df = pd.DataFrame(attributes)
    values = []
    for i in list(raw_df['Global Quote']):
        values.append(raw_df['Global Quote'][i])
    values_dict = {'values':values}
    values_df = pd.DataFrame(values).rename(columns = {0:'values'})
    frames = [attributes_df, values_df]
    df = pd.concat(frames, axis = 1, join = 'inner').set_index('attributes')
    return df

ibm_updates = get_live_updates('IBM')
ibm_updates

                        values
attributes
symbol                     IBM
open                  134.5500
high                  135.1400
low                   133.3000
price                 134.2100
volume                 5310305
latest trading day  2022-01-14
previous close        134.7600
change                 -0.5500
change percent        -0.4081%

<a id='13'></a>
## Economic Indicators

In [91]:
gdp = {
    "function": "REAL_GDP",
    "interval": "annual", # quarterly
    "apikey": key
}

federal_funds_rate = {
    "function": "FEDERAL_FUNDS_RATE",
    "interval": "weekly", # daily, monthly
    "apikey": key
}
cpi = {
    "function": "CPI",
    "interval": "weekly", # daily, monthly
    "apikey": key
}
inflation = {
    "function": "INFLATION",
    "interval": "weekly", # daily, monthly
    "apikey": key
}
consumer_sentiment = {
    "function": "CONSUMER_SENTIMENT",
    "apikey": key
}
unemployment = {
    "function": "UNEMPLOYMENT",
    "apikey": key
}
r = requests.get(url, params=unemployment) # REPLACE 'params' with desired dict
data = r.json()
crypto_df = pd.DataFrame(data['data'])
crypto_df = crypto_df.set_index("date")
crypto_df

           value
date
2021-11-01   4.2
2021-10-01   4.6
2021-09-01   4.8
2021-08-01   5.2
2021-07-01   5.4
...          ...
1948-05-01   3.5
1948-04-01   3.9
1948-03-01   4.0
1948-02-01   3.8
1948-01-01   3.4

[887 rows x 1 columns]

<a id='14'></a>
## Technical Indicators

In [101]:
# Lots to cover here, I've listed the most popular below
popular_ti = {
    "function": "ADX", # REPLACE: EMA, RSI, ADX, SMA
	"symbol": "IBM",
	"interval": "weekly",
	"time_period": "10",
	"series_type": "open",
    "apikey": key
}

r = requests.get(url, params=popular_ti)
data = r.json()
crypto_df = pd.DataFrame(data['Technical Analysis: ADX']).T # REPLACE to match the function
crypto_df

                ADX
2021-12-23  23.8256
2021-12-17  24.8406
2021-12-10  26.8894
2021-12-03  29.1061
2021-11-26  28.1847
...             ...
2000-04-20  28.4723
2000-04-14  31.4184
2000-04-07  34.8993
2000-03-31  34.9256
2000-03-24  34.1448

[1136 rows x 1 columns]

<a id='15'></a>
## Earnings Information

In [14]:
BASE_URL = r"https://www.alphavantage.co/query?"

def earnings_calendar_api(api_key, horizon, symbol=None):
    if symbol is not None:
        url = f'{BASE_URL}function=EARNINGS_CALENDAR&symbol={symbol}&horizon={horizon}&apikey={api_key}'
        response = requests.get(url)
    else:
        url = f"{BASE_URL}function=EARNINGS_CALENDAR&horizon={horizon}&apikey={api_key}"
        response = requests.get(url)

    return pd.read_csv(BytesIO(response.content))

api_key = key
horizon=["3month","6month","12month"]
earnings_calendar_api(api_key,horizon[0])

,symbol,name,reportDate,fiscalDateEnding,estimate,currency
0,A,Agilent Technologies Inc,2022-02-14,2022-01-31,1.17,USD
1,AA,Alcoa Corp,2022-01-18,2021-12-31,1.77,USD
2,AADI,Aadi Bioscience Inc,2022-03-09,2021-12-31,-1.06,USD
3,AAIC,Arlington Asset Investment Corp - Class A,2022-02-14,2021-12-31,0.06,USD
4,AAL,American Airlines Group Inc,2022-01-26,2021-12-31,-1.79,USD
...,...,...,...,...,...,...
4788,ZUO,Zuora Inc - Class A,2022-03-09,2022-01-31,-0.02,USD
4789,ZVO,Zovio Inc,2022-02-22,2021-12-31,-0.11,USD
4790,ZYME,Zymeworks Inc,2022-02-22,2021-12-31,-1.18,USD
4791,ZYNE,Zynerba Pharmaceuticals Inc,2022-03-08,2021-12-31,-0.26,USD
4792,ZYXI,Zynex Inc,2022-02-23,2021-12-31,0.19,USD

## Extracting stock data (historical close price) for multiple stocks

In [ ]:
all_tickers = ["AAPL","MSFT","CSCO","AMZN","GOOG",
               "FB","BA","MMM","XOM","NKE","INTC"]
close_prices = pd.DataFrame()
api_call_count = 1
ts = TimeSeries(key=key, output_format='pandas')
start_time = time.time()
for ticker in all_tickers:
    data = ts.get_intraday(symbol=ticker,interval='1min', outputsize='compact')[0]
    api_call_count+=1
    data.columns = ["open","high","low","close","volume"]
    data = data.iloc[::-1]
    close_prices[ticker] = data["close"]
    if api_call_count==5:
        api_call_count = 1
        time.sleep(60 - ((time.time() - start_time) % 60.0))

In [ ]:
close_prices

## Extracting OHLCV data for multiple stocks

In [ ]:
all_tickers = ["AAPL","MSFT","CSCO","AMZN","GOOG",
               "FB","BA","MMM","XOM","NKE","INTC"]
ohlv_dict = {}
api_call_count = 1
ts = TimeSeries(key=open(key_path,'r').read(), output_format='pandas')
start_time = time.time()
for ticker in all_tickers:
    data = ts.get_intraday(symbol=ticker,interval='1min', outputsize='compact')[0]
    api_call_count+=1
    data.columns = ["open","high","low","close","volume"]
    data = data.iloc[::-1]
    ohlv_dict[ticker] = data
    if api_call_count==5:
        api_call_count = 1
        time.sleep(60 - ((time.time() - start_time) % 60.0))

In [ ]:
ohlv_dict['AMZN']